*{
  margin:0;

}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.baskervville-regular {
  font-family: "Baskervville", serif;
  font-weight: 400;
  font-style: normal;
}

.baskervville-regular-italic {
  font-family: "Baskervville", serif;
  font-weight: 400;
  font-style: italic;
}

p{
  color:#343c4b;
  font-size: 0.875rem;
}
h1,h2,h3,h4,h5,h6{
  color: #343c4b;
}

.false-menu-square{
  position: absolute;
  top: 0;
  right: 0;
  transition: all .2s ease-in-out;
  background-color: #4298b4;
  clip-path: polygon(18% 0, 100% 0%, 100% 100%, 0 78%);
  box-shadow: 0 0 0 transparent;
  border: 0 solid transparent;
  text-shadow: 0 0 0 transparent;
  cursor: pointer;
  width: 63px;
  height: 60px;
}




/* .noto-sans-jp-<uniquifier> {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
